body {
  background-color: #F5F5F1; }

.etsyHeader {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 0px; }

.etsyBody {
  margin: 40px auto;
  width: 980px; }

hr {
  margin: 0;
  background-color: lightgrey;
  height: 1px;
  border: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 980px;
  margin: 0 auto;
  background-color: white; }
  header h2 {
    display: inline-block;
    margin-left: 30px; }
  header ul {
    display: inline-block;
    margin-bottom: 0px; }
  header li {
    display: inline-block;
    margin-left: 20px; }
  header nav {
    width: 100%;
    font-size: 0.9em; }
    header nav ul {
      margin-top: 0px;
      width: 980px;
      display: inline-block;
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-left: none;
      border-right: none; }
    header nav li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px; }

sidebar {
  width: 25%;
  float: left; }
  sidebar p {
    margin-left: 0px;
    padding: 0;
    font-size: 0.9em; }
  sidebar ul {
    background-color: white;
    border: 1px solid lightgrey;
    width: 200px;
    padding: 10px;
    margin-left: 0px; }
    sidebar ul p {
      margin: 0;
      font-size: 0.9em; }
    sidebar ul li {
      margin-left: 10px;
      padding: 3px;
      font-size: 0.9em; }
  sidebar .searchPrice {
    width: 50px; }
  sidebar hr {
    width: 150px;
    text-align: center; }

.magicStuff {
  float: right;
  position: 0;
  width: 75%;
  border: 1px solid black; }
