body {
	background-color: #F5F5F1;
}

.etsyHeader {
	background-color: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding-bottom: 0px;
}
.etsyBody {
	margin: 20px auto;
	width: 980px;
}
hr {
	margin: 0;
	background-color: lightgrey;
	height: 1px;
	border: 0;
}
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		text-decoration: none;
	}

header {
	width: 980px;
	margin: 0 auto;
	background-color: white;
	text-align: left;
	.etsyHeader {
		display: inline-block;
	}
	.etsyTitle {
		display: inline-block;
		padding-top: 10px;
	}
	.etsy {
		color: #ED6700;
		font-family: times;
		font-weight: 300;
		font-size: 2.5em;
	}
	.gathering {
		color: #3F3D4C;
		font-family: times;
		font-weight: bold;
		font-size: 1.5em; 
	}
	.sell {
		color: #5D91B8;
	}
	.register {
		color: #5D91B8;
	}
	.signIn {
		background-color: white;
		border: 1px solid #5D91B8;
		color: #5D91B8;
		border-radius: 2px;
		padding: 8px;
	}
	.cart {
		background-color: white;
		border: none;
		border-left: 1px solid lightgrey;
		color: grey;
		font-size: 0.8em;
	}
	h2 {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}
	.gathering {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 0;
	}
	.search {
		display: inline-block;
		border: 1px solid lightgrey;
		border-radius: 3px;
		margin-bottom: 10px;
	}
	.searchBox {
		border: none;
		width: 250px;
		padding-left: 10px;
	}
	.searchButton {
		background-color: #46A7C7;
		border: none;
		color: white;
		padding: 5px 10px 5px 10px;

	}
	ul {
			display: inline-block;
			margin: 0px;
			padding-left: 100px;
	}
	nav {
		width: 100%;
		font-size: 0.9em;
		text-align: left;
		ul {
			margin-top: 0px;
			width: 980px;
			display: inline-block;
			padding-left: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			border-left: none;
			border-right: none;
		}
			li {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			a {
				color: grey;
			}
			}
	}
}
	sidebar {
		width: 25%;
		float: left;
		p {
			margin-left: 0px;
			padding: 0;
			font-size: 0.9em;
		}
		ul {
			background-color: white;
			border: 1px solid lightgrey;
			width: 220px;
			padding: 10px;
			margin-top: 0px;
			margin-left: 0px;
			p {
				margin: 0;
				font-size: 0.85em;
			}
			li {
				display: block;
				padding: 5px;
				font-size: 0.85em;
				a {
					padding: 20px;
					color: #5D91B8;
				}
			}
			hr {
				width: 210px;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			div {
				width: 18px;
				height: 18px;
				border: 1px solid lightgrey;
				border-radius: 2px;
				display: inline-block;
			}
			.color1 {
				background-color: #EB1C2F;
			}
			.color2 {
				background-color: #F88200;
			}
			.color3 {
				background-color: #F1CD00;
			}
			.color4 {
				background-color: #42C200;
			}
			.color5 {
				background-color: #3ECBF7;
			}
			.color6 {
				background-color: #9D00FD;
			}
			.color7 {
				background-color: #000000;
			}
			.color8 {
				background-color: #FFFFFF;
			}	
		}
		.searchPrice {
			width: 50px;
		}
		hr {
			width: 150px;
			text-align: center;
		}
	}

.magicStuff {
	text-align: center;
	float: right;
	width: 75%;
	border: 0px solid black;
	margin-top: 12px;
	ul {
		float: left;
		padding-left: 0px;
		margin-top: 0px;
		margin-bottom: 5px;

	}
	li {
		display: inline-block;
		font-size: 0.9em;
	}
	.cat {
		padding-left: 20px;
	}
	.sort {
		padding-left: 205px;
	}
	.magicItem {
		width: 225px;
		height: 225px;
		border: 1px solid lightgrey;
		border-radius: 2px;
		display: inline-block;
		margin: 5px;
		overflow: hidden;
		.magicpic {
			width: 225px;
		}
		.title {
			margin-top: 2px;
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 0px;
			font-size: 0.7em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.shop {
			margin-top: 5px;
			margin-left: 5px;
			float: left;
			font-size: 0.7em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #ACAAAC;
		}
		.price {
			color: #8CC015;
			margin-top: 5px;
			margin-right: 5px;
			float: right;
			font-size: 0.7em;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}


