<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="etsyHeader">

	<header>
		<h2>Etsy: the Gathering</h2>
		<input class="search" type="search" placeholder="Magic the Gathering">
		<button class="search">Search</button>
		<ul class="headerNav">
			<li><a href="#">Sell on Etsy</a>
			<li><a href="#">Register</a>
			<li><button class="signIn">Sign in</button>
			<li><button class="cart">Cart</button>
		</ul>
	</header>
</div>
<div class="etsyHeader">
<hr>
	<header>
	<nav>
		<ul class="navLinks">
			<li><a href="#">Clothing & Accessories</a></li>
			<li><a href="#">Jewelry</a></li>
			<li><a href="#">Craft Supplies & Tools</a></li>
			<li><a href="#">Weddings</a></li>
			<li><a href="#">Entertainment</a></li>
			<li><a href="#">Home & Living</a></li>
			<li><a href="#">Kids & Baby</a></li>
			<li><a href="#">Vintage</a></li>
		</ul>
	</nav>
</header>
<hr>

</div>

<div class="etsyBody">

	<sidebar>
		<p>Show results for:</p>
		<ul class="sidebarNav">
			<p>All Categories</p>
				<li><a href="#">Home & Living</a></li>
				<li><a href="#">Art & Collectibles</a></li>
				<li><a href="#">Weddings</a></li>
				<li><a href="#">Clothing</a></li>
				<li><a href="#">Jewelry</a></li>
				<li><a href="#">Paper & Party Supplies</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Craft Supplies & Tools</a></li>
				<li><a href="#">Bags & Purses</a></li>
				<li><a href="#">Bath & Beauty</a></li>
				<li><a href="#">Shoes</a></li>
				<li><a href="#">Books, Movies & Music</a></li>
				<li><a href="#">Electronics & Accessories</a></li>
				<li><a href="#">Toys & Games</a></li>
				<li><a href="#">Pet Supplies</a></li>
		</ul>
		<p>Refine your search</p>
		<ul class="sidebarRef">
			<li>Item Type</li>
				<li><input class="checkbubble" type="radio">All Items</li>
				<li><input class="checkbubble" type="radio">Handmade</li>
				<li><input class="checkbubble" type="radio">Vintage</li>
			<li><hr></li>
			<li>Price</li>
				<input class="searchPrice" type="search" placeholder="Low">to
				<input class="searchPrice"	type="search" placeholder="High">
				<button class="priceUpdate">Go</button>
			<li><hr></li>
			<li>Filter by Color</li>
			<li><div class="color1"></div>
					<div class="color2"></div>
					<div class="color3"></div>
					<div class="color4"></div>
					<div class="color5"></div>
					<div class="color6"></div>
					<div class="color7"></div>
					<div class="color8"></div></li>
			<li><hr></li>
			<li>Ordering Options</li>
				<li><input class="checkbox" type="checkbox">Accepts Etsy Gift Cards</li>
				<li><input class="checkbox" type="checkbox">Customizable</li>
			<li>Shop Location</li>
				<li><input class="checkbubble" type="radio">Accepts Etsy Gift Cards</li>
				<li><input class="checkbubble" type="radio">Customizable</li>
			<li>Choose a custom location</li>
			<li><hr></li>
			<li>Ship To</li>
				<li><select class="countrymenu">
							<option>United States</option>
							<option>Everywhere Else</option>					
						</select></li>
		</ul>
	</sidebar>

	<content>
		<div class="magicStuff">
		<div>
			<ul>
				<li class="cat">All Categories > "Magic the Gathering" (2487 Results)</li>
				<li class="sort">Sort by: <select class="sortmenu">
							<option>Relevancy</option>
							<option>Price</option>					
						</select>
			</ul>
		</div>
			<script type="text/template" id="itemListing">
				<div class="magicItem">
					<img class="magicpic" src="<%= Images[0].url_170x135 %>">
					<p class="title"><%= title %></p>
					<p class="shop"><%= Shop.shop_name %></p>
					<p class="price">$<%= price + ' USD' %></p>
				</div>
			</script>
		</div>
	</content>

</div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="js/data.js"></script>
  <script src="js/main.js"></script>

</body>
</html>